export(calculate_actual_predicted)
export(calculate_performance)
export(create_generic_input_parameters)
export(create_specific_input_parameters)
export(compile_results)
export(get_outcome_status_at_specific_time)
export(guess_data_types)
export(perform_analysis)
export(prepare_datasets)
export(process_data)
import(base64enc)
import(CalibrationCurves)
import(ggplot2)
import(grDevices)
import(mime)
importFrom(predtools, calibration_plot)
importFrom(pROC, roc, coords)
import(stats)
import(stringr)
import(survival)
import(utils)
